blockchain_info:
  callback_secret: asdasdasdasd

devise:
  secret: "111111111111"

application:
  secret: "111111111111"

# Uncomment to use airbrake/errbit

# airbrake:
#   api_key: 111111111111
#   host: errbit.coingiving.com