blockchain_info:
  callback_secret: asdasdasdasd

devise:
  secret: "111111111111"

application:
  secret: "111111111111"

smtp_settings:
  address:              smtp.gmail.com
  port:                 587
  domain:               foobar.com
  user_name:            example@foobar.com
  password:             MY_PASSWORD
  authentication:       plain
  enable_starttls_auto: true

# Uncomment to use airbrake/errbit

# airbrake:
#   api_key: 111111111111
#   host: errbit.coingiving.com